#index {
    display: grid;
    width: 99vw;
    height: 200%;
    margin: 0%;
    background-color: white;
    grid-template-columns: auto;
    grid-template-rows: 5% 15% 70% 10%;
    grid-template-areas:
        'SA'
        'SB'
        'SC'
        '.';
}

#Section-A {
    grid-area: SA;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}

#Section-A1 {
    position: relative;
    display: inline-block;
}

#changerbtn {
    border: none;
}

/* Dropdown Content (Hidden by Default) */
#changerdiv {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#changerdiv a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

#changerdiv a:hover {
    background-color: white;
    opacity: 0.75;
    text-decoration: underline;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#Section-A1:hover #changerdiv {
    display: flex;
}

#Section-B {
    grid-area: SB;
    border-style: dashed;
    border-color: red;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        'B1 B2 B3'
        'B4 B4 B4';
}
#Section-B1 {
    grid-area: B1;
    background-color: lightpink;
    opacity: 100%;

}
#Section-B2 {
    grid-area: B2;
    background-color: rebeccapurple;
}
#Section-B3 {
    grid-area: B3;
    background-color: pink;
}
#Section-B4 {
    grid-area: B4;
    background-color: red;
}


#Section-C {
    border-style: dashed;
    border-color: black;
    grid-area: SC;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 47.5% 5% 47.5%;
    grid-template-areas:
        'C3 C1 C4'
        'C3 . C4'
        'C3 C2 C4';

}
#Section-C1 {
    grid-area: C1;
    background-color: rebeccapurple;
    opacity: 100%;

}
#Section-C2 {
    grid-area: C2;
    background-color: red;
}
#Section-C3 {
    grid-area: C3;
    background-color: lightpink;
}
#Section-C4 {
    grid-area: C4;
    background-color: pink;
}

#Section-D {
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 10%;
    width: 80%;
    height: 20%;
    border: 3px solid blueviolet;
}
